.products__list {
  padding: 1%;
}

.card-group {
  justify-content: center;
}

.card-group > .card {
  margin: 1%;
  min-width: 30%;
  max-width: 30%;
  padding: 2%;
}

.card-group > .card > img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
}

.card-group > .card > .card-body > .card-title {
  font-size: 1.2vw;
}

.card__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card__buttons > .btn {
  width: 30%;
  border-radius: 0;
}

.spinner-border {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
}

@media only screen and (max-width: 900px) {
  .card__buttons {
    flex-direction: column;
    justify-content: space-between;
  }
}
